<h2>Items
    <a href="/items/add" class="btn btn-success pull-right">Add Post</a>
</h2>
<hr />

{{#if message}}
    <div class="alert alert-info">{{message}}</div>
{{/if}}

{{#if items.length}}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Post Date</th>
                <th>Category</th>
                <th>Price</th>
                <th>Published</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td>{{title}}</td>
                <td>{{#formatDate postDate}}{{/formatDate}}</td>
                <td>
                    {{#if Category}}
                        {{Category.category}}
                    {{else}}
                        None
                    {{/if}}
                </td>
                <td>${{price}}</td>
                <td>
                    {{#if published}}
                        <span class="text-success">Yes</span>
                    {{else}}
                        <span class="text-muted">No</span>
                    {{/if}}
                </td>
                <td class="text-end">
                    <a href="/items/delete/{{id}}" class="btn btn-danger">Remove</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
    <div class="alert alert-warning">
        {{#if message}}
            {{message}}
        {{else}}
            No items found
        {{/if}}
    </div>
{{/if}}